/.project
/.settings
/tsf-inventory/.settings
/tsf-inventory/.classpath
/tsf-inventory/.project
/tsf-order/.settings
/tsf-order/.classpath
/tsf-order/.project
/tsf-product/.settings
/tsf-product/.classpath
/tsf-product/.project
/tsf-demo-front/.settings
/tsf-demo-front/.project
/tsf-demo-front/.classpath

.DS_Store
*/.DS_Store
.idea/
*/*.iml
*.iml